.container3 {
    min-height: 100vh;
    align-items: center;
    place-items: center;

}

.h {
    width: 60%;
    height: 3px;
    border-radius: 10px;
    background-color: rgb(175, 175, 175);
    border: 0 none;
}

.subtext2 {
    font-size: 50px;
    letter-spacing: 5px;
    color: #cf1259ff;
    margin: 0px;
    text-transform: uppercase;
    transition: 1s;
    text-shadow: 0 0 5px rgba(207, 18, 90, 0.656), 0 0 25px rgba(207, 18, 90, 0.656), 0 0 50px rgba(207, 18, 90, 0.656), 0 0 100px rgba(207, 18, 90, 0.656);
    padding-top: 10vh;
    margin-bottom: 5vh;
}

.carrousel {
    padding-top: 100vh;
}