.container2 {
    min-height: 100vh;
    align-items: center;
    /* place-items: center; */
    display: flex;
    padding-right: 8vw;
    padding-left: 8vw;
    /* padding-top: 5vh; */
    flex: 1;
}

.img {
    height: 45vh;
    width: auto;
    border-radius: 10px;
    filter: brightness(80%);
}

.text2 {
    display: grid;
}

.subtext1 {
    font-size: 50px;
    letter-spacing: 5px;
    color: #cf1259ff;
    margin: 0px;
    text-transform: uppercase;
    transition: 1s;
    text-shadow: 0 0 5px rgba(207, 18, 90, 0.656), 0 0 25px rgba(207, 18, 90, 0.656), 0 0 50px rgba(207, 18, 90, 0.656), 0 0 100px rgba(207, 18, 90, 0.656);
}

.h {
    width: 60%;
    height: 3px;
    border-radius: 10px;
    background-color: rgb(175, 175, 175);
    border: 0 none;
}

.subtext {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start;
    /* width: 80%;
    margin-left: 15vw;
    margin-top: 10vh; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    padding: 30px;
    font-weight: 200;
}

@media (max-width: 768px) {
    .img {
        display: none;
    }
}

@media (max-width: 632px) {
    .subtext1 {
        margin-top: 10vh;
    }
}