.text {
    color: rgb(255, 255, 255);
    text-align: left;
    padding-left: 2vw;
    font-size: 24px;
    padding: 1vw;
}

.img {
    width: 100%;
    border-radius: 10px;
}

.card {
    border-radius: 10px;
    background-color: #454545;
    transition: 0.3s ease;
}

.card:hover {
    scale: 1.01;
}

.slider {
    display: flex;
    /* justify-content: space-around; */
    padding-top: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s, background-color 0.3s, color 0.3s;
}

.btn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #ccc;
    color: #007bff;
}