.container {
    min-height: 100vh;
    align-items: center;
    place-items: center;
    display: grid;
    z-index: 1;
}

.btn {
    background-color: #8d8d8d6f;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    color: white;
    /* border-radius: 30px; */
    /* transition: 0.4s ease; */
    margin-bottom: 0px;
    border-radius: 20px;
    /* border: solid 1px rgb(125, 125, 125); */
    height: fit-content;
    margin-right: 10px;
    display: flex;
    align-items: center;
    transition: 0.5s ease;
    background-color: #fafafa10;
    outline: 2px solid rgb(125, 125, 125);
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: 0.25s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn:hover {
    /* transform: scale(1.05); */
    color: white;
    /* border: solid 2px rgb(125, 125, 125); */
    /* transition: border 0.2s ease; */
    outline-offset: 3px;
    outline: 3.5px solid rgb(125, 125, 125);
}

.text {
    color: white;
    font-size: 40px;
    margin-top: 20vh;
    /* width: 100vw; */
}

.textme {
    /* color: #cf1259ff; */
    letter-spacing: 5px;
    color: #cf1259ff;
    margin: 0px;
    /* text-transform: uppercase; */
    transition: 1s;
    text-shadow: 0 0 5px rgba(207, 18, 90, 0.656), 0 0 25px rgba(207, 18, 90, 0.656), 0 0 50px rgba(207, 18, 90, 0.656), 0 0 100px rgba(207, 18, 90, 0.656);
}

.textform {
    font-size: 60px;
}

.h {
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: rgb(175, 175, 175);
    border: 0 none;
}

.redes {
    display: flex;
    column-gap: 25px;
    margin-top: 0px
}

.icon {
    display: inline-flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    outline: 2.7px solid #fff;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: 0.25s;
}

.icon:hover {
    outline-offset: 3px;
    animation: shake 1s;
    outline: 3.5px solid #fff;
}

@keyframes shake {
    10% {
        transform: rotate(10deg);
    }

    20% {
        transform: rotate(-10deg);
    }

    30% {
        transform: rotate(10deg);
    }

    40% {
        transform: rotate(-10deg);
    }
}

@media (max-width: 768px) {
    .icon {
        outline: none
    }

    .icon:hover {
        outline: 3px
    }
}