.App {
  text-align: center;
  /* background-color: #000000; */
  min-height: 100vh;
  padding-top: 10px;
  z-index: -1;
  /* margin-left: 20px;
  margin-right: 20px; */
}

.scroll {
  background-color: aqua;
}

.h {
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background-color: rgb(175, 175, 175);
  border: 0 none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}